{% extends "dardos/base.html" %}

{% load dardos_general %}

{% block title %}Equipo{% endblock %}

{% block content %}

<style>
table tr td ul li{
    display: inline;
}
</style>

<h1>{{partido.equipo_local.nombre}} - {{partido.equipo_visitante.nombre}} ({{partido.fecha|date:"d-m-Y"}})</h1>

<div id="partidas">
    <table>
        <tr>
            <th class="local">Local</th>
            <th>Resultado</th>
            <th class="visitante">Visitante</th>
        </tr>
    </table>

    <h2>Parejas 501</h2>
    {% show_partida_parejas partidas_par_1 %}

    {% show_partida_parejas partidas_par_2 %}

    <h2>Individuales 501</h2>
    {% show_partida_individuales partidas_ind_1 %}

    <h2>Parejas Cricket</h2>
    {% show_partida_parejas partidas_par_3 %}

    {% show_partida_parejas partidas_par_4 %}

    <h2>Individuales 501</h2>
    {% show_partida_individuales partidas_ind_2 %}
</div>

{% endblock %}
