{% extends "dardos/ligasbase.html" %}

{% block title %}Equipos{% endblock %}

{% block content %}

<h1>Partidos</h1>
    <div>
	    <a href="/partidos/new" class="add">
	    	Nuevo partido
	    </a>
    </div>

{% if partidos %}
    <table width="100%">
    	<tr>
    		<th>Jornada</th>
    		<th>Local</th>
    		<th>Visitante</th>
    		<th>Fecha</th>
    		<th>&nbsp;</th>
    	</tr>
    {% for p in partidos %}
    	<tr>
    		<td>{{p.jornada.numero}}</td>
        	<td>{{p.equipo_local.nombre}}</td>
        	<td>{{p.equipo_visitante.nombre}}</td>
        	<td>{{ p.fecha|date:"d-m-Y" }}</td>
        	<td>
        		<a href="{{p.get_absolute_url}}" class="view"></a>
        		{% if not p.jugado %}
        		<a href="/partidos/partidas/{{p.id}}" class="edit"></a>
        		{% endif %}
        	</td>
       	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No hay partidos disponibles.</p>
{% endif %}


{% endblock %}




