{% if partidos %}
    <table id="tabla_partidos" width="100%">
    	<tr>
    		<th>Jornada</th>
    		<th>Fecha</th>
    		<th>Local</th>
    		<th>Ganador</th>
    		<th>Visitante</th>
    		<th>&nbsp;</th>
    	</tr>
    {% for p in partidos %}
    	<tr>
    		<td>Jornada {{p.jornada.numero}}</td>
    		<td>{{p.fecha|date:"d-m-Y" }}</td>
        	<td>
        	    <a href="/equipos/{{p.equipo_local.id}}">{{p.equipo_local.nombre}}</a>
        	</td>
        	<td>
        	    {% ifequal p.ganador p.equipo_local %}
	                <img src="/site_media/images/yes.png" title="Ganado"/>
	                {{p.puntos_local}} - {{p.puntos_visitante}}
		        <img src="/site_media/images/no.png" title="Perdido"/>
		    {% endifequal %}
		    {% ifequal p.ganador p.equipo_visitante %}
	                <img src="/site_media/images/no.png" title="Perdido"/>
	                {{p.puntos_local}} - {{p.puntos_visitante}}
		        <img src="/site_media/images/yes.png" title="Ganado"/>
		    {% endifequal %}
		    {% if not p.ganador and p.jugado %}
	            	<img src="/site_media/images/empate.png" title="Empate"/>
	            	{{p.puntos_local}} - {{p.puntos_visitante}}
	            	<img src="/site_media/images/empate.png" title="Empate"/>
		    {% endif %}
		    {% if not p.ganador and not p.jugado %}
	                <img src="/site_media/images/no-jugado.png" title="No jugado"/>
		    {% endif %}
            </td>
        	<td>
        	    <a href="/equipos/{{p.equipo_visitante.id}}">{{p.equipo_visitante.nombre}}</a>
        	</td>
        	<td>
        	    {% if p.jugado %}
        		<a href="/partidos/{{p.id}}" class="view"></a>
        		{% else %}
        		<a href="/partidos/partidas/{{p.id}}" class="edit"></a>
        		{% endif %}
        	</td>
       	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No hay partidos disponibles.</p>
{% endif %}
