{% extends "dardos/ligasbase.html" %}

{% block title %}Nuevo partido{% endblock %}

{% block content %}
{% for form in todos %}
{% if form.errors %}
<div id="form-error">
       <p>Ocurrieron errores</p>
       <ul>
       {% for error in form.non_field_errors %}
           <li>{{ error|striptags }}</li>
       {% endfor %}
       {% for field in form %}
               {%if field.errors%}
               	   {% for error in field.errors %}
	               <li>{{field.name}}: {{ error|striptags }}</li>
	           {%endfor%}
               {%endif%}
       {% endfor %}
       </ul>
</div>
{% endif %}
{%endfor%}

<h1>Nuevo partido</h1>
<h2>501 Parejas</h2>
<form action="." method="post">
<table width="100%">
	<tr>
		<th align="left">Pareja local</th>
		<th align="center">Ganadores</th>
		<th align="right">Pareja visitante</th>
	</tr>
{% for form in forms_parejas_1 %}
	<tr>
		<td align="left">
		    {{form.numero}}
		    {{form.tipo_juego}}
		    {{form.jugador_local}}
		    {{form.jugador_local2}}
		</td>
		<td align="center">
		    {{form.ganador}}
		</td>
		<td align="right">
		    {{form.jugador_visitante}}
		    {{form.jugador_visitante2}}
		</td>
	</tr>
{% endfor %}
</table>
<hr/>
<table width="100%">
{% for form in forms_parejas_2 %}
	<tr>
		<td align="left">
		    {{form.numero}}
		    {{form.tipo_juego}}
		    {{form.jugador_local}}
		    {{form.jugador_local2}}
		</td>
		<td align="center">
			{{form.ganador}}
		</td>
		<td align="right">
		    {{form.jugador_visitante}}
		    {{form.jugador_visitante2}}
		</td>
	</tr>
{% endfor %}
</table><br/>
<h2>501 Individual</h2>
<table width="100%">
	<tr>
		<th align="left">Jugador local</th>
		<th align="center">Ganador</th>
		<th align="right">Jugador visitante</th>
	</tr>
{% for form in forms_individual_1 %}
	<tr>
		<td align="left">
		    {{form.numero}}
			{{form.jugador_local}}
		</td>
		<td align="center">
			{{form.ganador}}
		</td>
		<td align="right">
			{{form.jugador_visitante}}
		</td>
	</tr>
{% endfor %}
</table><br/>
<h2>Cricket Parejas</h2>
<table width="100%">
	<tr>
		<th align="left">Pareja local</th>
		<th align="center">Ganadores</th>
		<th align="right">Pareja visitante</th>
	</tr>
{% for form in forms_parejas_3 %}
	<tr>
		<td align="left">
		    {{form.numero}}
		    {{form.tipo_juego}}
		    {{form.jugador_local}}
		    {{form.jugador_local2}}
		</td>
		<td align="center">
			{{form.ganador}}
		</td>
		<td align="right">
		    {{form.jugador_visitante}}
		    {{form.jugador_visitante2}}
		</td>
	</tr>
{% endfor %}
</table>
<hr/>
<table width="100%">
{% for form in forms_parejas_4 %}
	<tr>
		<td align="left">
		    {{form.numero}}
		    {{form.tipo_juego}}
		    {{form.jugador_local}}
		    {{form.jugador_local2}}
		</td>
		<td align="center">
		    {{form.ganador}}
		</td>
		<td align="right">
		    {{form.jugador_visitante}}
		    {{form.jugador_visitante2}}
		</td>
	</tr>
{% endfor %}
</table><br/>
<h2>501 Individual</h2>
<table width="100%">
	<tr>
		<th align="left">Jugador local</th>
		<th align="center">Ganador</th>
		<th align="right">Jugador visitante</th>
	</tr>
{% for form in forms_individual_2 %}
	<tr>
		<td align="left">
		    {{form.numero}}
			{{form.jugador_local}}
		</td>
		<td align="center">
			{{form.ganador}}
		</td>
		<td align="right">
			{{form.jugador_visitante}}
		</td>
	</tr>
{% endfor %}
</table>
<input type="submit" value="Guardar" />
</form>
{% endblock %}
