{% extends "dardos/ligasbase.html" %}

{% block title %}Nuevo partido{% endblock %}

{% block content %}

<ul>
{% for form in todos %}
{% if form.errors %}
   {% for error in form.non_field_errors %}
       <li class="error">{{ error|striptags }}</li>
   {% endfor %}
   {% for field in form %}
           {%if field.errors%}
           	   {% for error in field.errors %}
               <li class="error">{{field.name}}: {{ error|striptags }}</li>
           {%endfor%}
           {%endif%}
   {% endfor %}
{% endif %}
{%endfor%}
</ul>

<h1>Nuevo partido</h1>
<h2>501 Parejas</h2>
<form action="." method="post">
<table class="tabla-partidas" width="100%">
	<tr>
		<th align="left">Pareja local</th>
		<th align="center">Ganadores</th>
		<th align="right">Pareja visitante</th>
	</tr>
{% for form in forms_parejas_1 %}
	<tr>
		<td align="left">
		    {{form.numero}}
		    {{form.tipo_juego}}
		    {{form.jugador_local}}
		    {{form.jugador_local2}}
		</td>
		<td class="col-ganador" align="center">
		    {{form.ganador}}
		</td>
		<td align="right">
		    {{form.jugador_visitante}}
		    {{form.jugador_visitante2}}
		</td>
	</tr>
{% endfor %}
</table>
<hr/>
<table class="tabla-partidas" width="100%">
{% for form in forms_parejas_2 %}
	<tr>
		<td align="left">
		    {{form.numero}}
		    {{form.tipo_juego}}
		    {{form.jugador_local}}
		    {{form.jugador_local2}}
		</td>
		<td class="col-ganador" align="center">
			{{form.ganador}}
		</td>
		<td align="right">
		    {{form.jugador_visitante}}
		    {{form.jugador_visitante2}}
		</td>
	</tr>
{% endfor %}
</table><br/>
<h2>501 Individual</h2>
<table class="tabla-partidas" width="100%">
	<tr>
		<th align="left">Jugador local</th>
		<th align="center">Ganador</th>
		<th align="right">Jugador visitante</th>
	</tr>
{% for form in forms_individual_1 %}
	<tr>
		<td align="left">
		    {{form.numero}}
			{{form.jugador_local}}
		</td>
		<td class="col-ganador" align="center">
			{{form.ganador}}
		</td>
		<td align="right">
			{{form.jugador_visitante}}
		</td>
	</tr>
{% endfor %}
</table><br/>
<h2>Cricket Parejas</h2>
<table class="tabla-partidas" width="100%">
	<tr>
		<th align="left">Pareja local</th>
		<th align="center">Ganadores</th>
		<th align="right">Pareja visitante</th>
	</tr>
{% for form in forms_parejas_3 %}
	<tr>
		<td align="left">
		    {{form.numero}}
		    {{form.tipo_juego}}
		    {{form.jugador_local}}
		    {{form.jugador_local2}}
		</td>
		<td class="col-ganador" align="center">
			{{form.ganador}}
		</td>
		<td align="right">
		    {{form.jugador_visitante}}
		    {{form.jugador_visitante2}}
		</td>
	</tr>
{% endfor %}
</table>
<hr/>
<table class="tabla-partidas" width="100%">
{% for form in forms_parejas_4 %}
	<tr>
		<td align="left">
		    {{form.numero}}
		    {{form.tipo_juego}}
		    {{form.jugador_local}}
		    {{form.jugador_local2}}
		</td>
		<td class="col-ganador" align="center">
		    {{form.ganador}}
		</td>
		<td align="right">
		    {{form.jugador_visitante}}
		    {{form.jugador_visitante2}}
		</td>
	</tr>
{% endfor %}
</table><br/>
<h2>501 Individual</h2>
<table class="tabla-partidas" width="100%">
	<tr>
		<th align="left">Jugador local</th>
		<th align="center">Ganador</th>
		<th align="right">Jugador visitante</th>
	</tr>
{% for form in forms_individual_2 %}
	<tr>
		<td align="left">
		    {{form.numero}}
			{{form.jugador_local}}
		</td>
		<td class="col-ganador" align="center">
			{{form.ganador}}
		</td>
		<td align="right">
			{{form.jugador_visitante}}
		</td>
	</tr>
{% endfor %}
</table>
<input type="submit" value="Guardar" />
</form>
{% endblock %}
