<form action="/login/" method="post" id="asdfasd" name="asdfasdf">
    <input type="hidden" name="current_path" value="{{current_path}}"/>
    <fieldset>
        <p>
            <label>Usuario:</label><input name="username" type="text">
        </p>
        <p>
            <label>Password:</label><input name="password" type="password">
        </p>
        <p style="text-align: right">
            <label>&nbsp;</label>
            <input type="submit" value="Entrar">
        </p>
    </fieldset>
</form>
