{% if not user.is_authenticated %}
<form action="{% url dardos-general-login %}" method="post" name="asdfasdf">
    <input type="hidden" name="current_path" value="{{current_path}}"/>
    <fieldset>
        <p>
            <label>Usuario:</label><input name="username" type="text">
        </p>
        <p>
            <label>Password:</label><input name="password" type="password">
        </p>
        <p>
            <input id="boton-login" class="boton-login" type="submit" value="Entrar">
        </p>
    </fieldset>
</form>
{% else %}
<table>
    <tr>
        <td>Usuario:</td>
        <td>{{user.username}}</td>
    </tr>
</table>
<div style="text-align: right;margin-right: 15px">
<a id="boton-login" class="boton-login" href="{% url dardos-general-logout %}">Logout</a>
</div>
{% endif %}

<script>
    $(".boton-login").button();
</script>
