{% extends "dardos/ligasbase.html" %}

{% load dardos_general graficos %}

{% block title %}Equipo{% endblock %}

{% block header %}

<!--[if IE]><script language="javascript" type="text/javascript" src="/site_media/js/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/site_media/js/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/site_media/css/jquery.jqplot.css" />
<script type="text/javascript">
	$(function() {
		$("#tabs").tabs({
		    spinner: 'Calculando...',
		    ajaxOptions: {
				error: function(xhr, status, index, anchor) {
					$(anchor.hash).html("No se pudo mostrar el contenido, avise al administrador");
				}
			}
		});
		
		$("#boton_formgrafica").click(function(){
		    $.get('{% url dardos-graficas-ajax_grafica_evolucion %}', $("#formgrafica").serialize(), function(data){
		        $("#chartdivevo").html('');
		        $("#graf_wrapper").html(data);
		    });
		});
	});
</script>

{% endblock %}

{% block content %}
<h1>{{ equipo.nombre }}</h1>
<div style="float:right">
    <a href="{% url dardos-equipos-estreport equipo_id=equipo.id liga_id=liga_actual.id %}">
        <img src="/site_media/images/report.png" title="Informe de estadísticas"/>
    </a>
</div>
<div>
    <div id="logo-equipo">
        {% if equipo.path_foto%}
            <img src="/site_media/fotos/equipos/{{equipo.path_foto}}" />
        {% endif %}
    </div>
    
        <b>Nombre:</b> {{equipo.nombre}}<br/>
        <b>Campo: </b> {{equipo.campo}}<br/>
        <b>Dirección: </b> {{equipo.direccion}}<br/>
        <br/>
    <div style="clear:both"></div>
</div>

<style type="text/css">
#tabs .ui-state-processing span {
    background: url(/site_media/images/ajax-loader.gif) no-repeat 0px 0px !important;
    padding-left: 18px;
} 

</style>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Jugadores</a></li>
		<li><a href="#tabs-2">Clasificación</a></li>
		<li><a href="#tabs-3">Jornadas</a></li>
		<li><a href="#tabs-4">Estadísticas</a></li>
		<li><a href="#tabs-5">Gráficas</a></li>
		<li><a href="#tabs-6">Contacto</a></li>
		<li>
		    <a href="{% url dardos-equipos-estparejas equipo_id=equipo.id liga_id=liga_actual.id %}">
		        <span>Parejas</span>
		        <div class="icon" style="display: none"><img src="/site_media/images/ajax-loader.gif" /></div>
		    </a>
		</li>
	</ul>
	<div id="tabs-1">
		{% show_estadisticas_jugadores estjugadores %}
	</div>
	<div id="tabs-2">
	    {% show_clasificacion liga_actual equipo%}
	</div>
	<div id="tabs-3">
		<h2>Liga {{liga_actual.nombre}} </h2>
		<table>
			<tr>
				<th>Nº Jornada</th>
				<th>Fecha</th>
				<th>Local</th>
				<th>Visitante</th>
				<th>Ganador</th>
				<th>Puntos local</th>
				<th>Puntos visitante</th>
				<th>Jugado</th>
				<th>&nbsp;</th>
			</tr>
		{% for j in jornadas %}
			{% if j.partido %}
			<tr>
				<td><b>Jornada {{j.jornada.numero}}</b></td>
				<td>{{j.partido.fecha|date:"d-m-Y"}}</td>
				<td>{{j.partido.equipo_local.nombre}}</td>
				<td>{{j.partido.equipo_visitante.nombre}}</td>
				<td><b>{{j.partido.ganador.nombre}}</b></td>
				<td><b>{{j.partido.puntos_local}}</b></td>
				<td><b>{{j.partido.puntos_visitante}}</b></td>
				<td>
					{% if j.partido.jugado %}
						<img src="/site_media/images/yes.png" />
					{% else %}
						<img src="/site_media/images/no.png" />
					{%endif%}
				</td>
				<td>
				    {% if j.partido.jugado %}
                		<a href="{% url dardos-partidos-detail partido_id=j.partido.id %}" class="view"></a>
            		{% endif %}
				</td>
			</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
	<div id="tabs-4">
	    {% show_estadisticas_equipo estadisticas %}
	    {% show_analisis_jugadores analisis_jugadores %}
	</div>
	<div id="tabs-5">
        <form id="formgrafica" method="post">
        {{graficas_form.as_p}}
        <input id="boton_formgrafica" type="button" name="continuar" value="Continuar" />
        </form>
        <div id="chartdivevo" style="height:400px;width:500px; "></div>
        <div id="graf_wrapper"></div>
        
	</div>
	<div id="tabs-6">
	    <div id="mapa" style="float:right">
	        {% if equipo.google_maps %}
	            {{equipo.google_maps|safe}}
	        {% endif %}
	    </div>
	    <b>Campo: </b>{{equipo.campo}}<br/>
	    <b>Dirección: </b>{{equipo.direccion}}<br/>
	    <b>E-Mail: </b>{{equipo.email}}<br/>
	    <b>Teléfono: </b>{{equipo.telefono}}<br/>
	    <div style="clear: both"></div>
	</div>
</div>

{% endblock %}
