{% extends "dardos/base.html" %}

{% load dardos_general %}

{% block title %}Equipo{% endblock %}

{% block content %}

<link type="text/css" href="/site_media/css/ui/jquery.ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="/site_media/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.tabs.js"></script>
<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
</script>


<h1>{{ equipo.nombre }}</h1>
<b>Nombre:</b> {{equipo.nombre}}<br/>
<br/>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Jugadores</a></li>
		<li><a href="#tabs-2">Clasificación</a></li>
		<li><a href="#tabs-3">Jornadas</a></li>
		<li><a href="#tabs-4">Estadísticas</a></li>
	</ul>
	<div id="tabs-1">
		<table>
			<tr>
				<th>Nombre</th>
				<th>G.I.</th>
				<th>P.I.</th>
				<th>D.I.</th>
				<th>G.P.</th>
				<th>P.P.</th>
				<th>D.P.</th>
				<th>G.T.</th>
				<th>P.T.</th>
				<th>D.T.</th>
				<th>J.I.</th>
				<th>J.P.</th>
				<th>J.T.</th>
				<th>&nbsp;</th>
			</tr>
		{% for j in jugadores %}
			<tr>
				<td>{{j.nombre}}</td>
				<td>{{j.partidas_ind_ganadas}}</td>
				<td>{{j.partidas_ind_perdidas}}</td>
				<td>{{j.partidas_ind_diferencia}}</td>
				<td>{{j.partidas_par_ganadas}}</td>
				<td>{{j.partidas_par_perdidas}}</td>
				<td>{{j.partidas_par_diferencia}}</td>
				<td>{{j.partidas_ganadas}}</td>
				<td>{{j.partidas_perdidas}}</td>
				<td>{{j.partidas_diferencia}}</td>
				<td>{{j.partidas_ind}}</td>
				<td>{{j.partidas_par}}</td>
				<td>{{j.partidas}}</td>
				<td><a href="/jugadores/{{j.id}}" class="view"></a></td>
			</tr>
		{% endfor %}
		</table>
		<ul>
			<li>G.I.: Ganados individuales</li>
			<li>P.I.: Perdidos individuales</li>
			<li>D.I.: Diferencia individuales</li>
			<li>G.P.: Ganados parejas</li>
			<li>P.P.: Perdidos parejas</li>
			<li>D.P.: Diferencia parejas</li>
			<li>G.T.: Ganados total</li>
			<li>P.T.: Perdidos total</li>
			<li>D.T.: Diferencia total</li>
			<li>J.I.: Jugados individuales</li>
			<li>J.P.: Jugados parejas</li>
			<li>J.T.: Jugados total</li>
		</ul>
	</div>
	<div id="tabs-2">
	    {% show_clasificacion liga_actual equipo%}
	</div>
	<div id="tabs-3">
		<h2>Liga {{liga_actual.nombre}} </h2>
		<table>
			<tr>
				<th>Nº Jornada</th>
				<th>Fecha</th>
				<th>Local</th>
				<th>Visitante</th>
				<th>Ganador</th>
				<th>Puntos local</th>
				<th>Puntos visitante</th>
				<th>Jugado</th>
			</tr>
		{% for j in jornadas %}
			{% if j.partido %}
			<tr>
				<td><b>Jornada {{j.jornada.numero}}</b></td>
				<td>{{j.partido.fecha|date:"d-m-Y"}}</td>
				<td>{{j.partido.equipo_local.nombre}}</td>
				<td>{{j.partido.equipo_visitante.nombre}}</td>
				<td><b>{{j.partido.ganador.nombre}}</b></td>
				<td><b>{{j.partido.puntos_local}}</b></td>
				<td><b>{{j.partido.puntos_visitante}}</b></td>
				<td>
					{% if j.partido.jugado %}
						<img src="/site_media/images/yes.png" />
					{% else %}
						<img src="/site_media/images/no.png" />
					{%endif%}
				</td>
			</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
	<div id="tabs-4">
		<table>
			<tr>
				<th>Tipo partida</th>
				<th>Jugados</th>
				<th>Ganados</th>
				<th>Perdidos</th>
				<th>Empatados</th>
			</tr>
			<tr>
				<td>Local</td>
				<td>{{estadisticas.partidos_jugados_local}}</td>
				<td>{{estadisticas.partidos_ganados_local}}</td>
				<td>{{estadisticas.partidos_perdidos_local}}</td>
				<td>{{estadisticas.partidos_empatados_local}}</td>
			</tr>
			<tr>
				<td>Visitante</td>
				<td>{{estadisticas.partidos_jugados_visitante}}</td>
				<td>{{estadisticas.partidos_ganados_visitante}}</td>
				<td>{{estadisticas.partidos_perdidos_visitante}}</td>
				<td>{{estadisticas.partidos_empatados_visitante}}</td>
			</tr>
			<tr>
				<td>General</td>
				<td>{{estadisticas.partidos_jugados}}</td>
				<td>{{estadisticas.partidos_ganados}}</td>
				<td>{{estadisticas.partidos_perdidos}}</td>
				<td>{{estadisticas.partidos_empatados}}</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>Más victorias</td>
				<td>{{estadisticas.datos_mas_ganadas}}</td>
			</tr>
			<tr>
				<td>Más derrotas</td>
				<td>{{estadisticas.datos_mas_perdidas}}</td>
			</tr>
			<tr>
				<td>Más victorias individuales</td>
				<td>{{estadisticas.datos_mas_ganadas_ind}}</td>
			</tr>
			<tr>
				<td>Más victorias parejas</td>
				<td>{{estadisticas.datos_mas_ganadas_par}}</td>
			</tr>
			<tr>
				<td>Más derrotas individuales</td>
				<td>{{estadisticas.datos_mas_perdidas_ind}}</td>
			</tr>
			<tr>
				<td>Más derrotas parejas</td>
				<td>{{estadisticas.datos_mas_perdidas_par}}</td>
			</tr>
			<tr>
				<td>Mejor diferencia individuales</td>
				<td>{{estadisticas.datos_mejor_diferencia_ind}}</td>
			</tr>
			<tr>
				<td>Mejor diferencia parejas</td>
				<td>{{estadisticas.datos_mejor_diferencia_par}}</td>
			</tr>
			<tr>
				<td>Mejor diferencia general</td>
				<td>{{estadisticas.datos_mejor_diferencia}}</td>
			</tr>
			<tr>
				<td>Peor diferencia individuales</td>
				<td>{{estadisticas.datos_peor_diferencia_ind}}</td>
			</tr>
			<tr>
				<td>Peor diferencia parejas</td>
				<td>{{estadisticas.datos_peor_diferencia_par}}</td>
			</tr>
			<tr>
				<td>Peor diferencia general</td>
				<td>{{estadisticas.datos_peor_diferencia}}</td>
			</tr>
			<tr>
				<td>Mejor porcentaje individuales</td>
				<td>{{estadisticas.datos_mejor_porcentaje_ind}}</td>
			</tr>
			<tr>
				<td>Mejor porcentaje parejas</td>
				<td>{{estadisticas.datos_mejor_porcentaje_par}}</td>
			</tr>
			<tr>
				<td>Mejor porcentaje general</td>
				<td>{{estadisticas.datos_mejor_porcentaje}}</td>
			</tr>
			<tr>
				<td>Mayor porcentaje perdidas individuales</td>
				<td>{{estadisticas.datos_mayor_porcentaje_perdidas_ind}}</td>
			</tr>
			<tr>
				<td>Mayor porcentaje perdidas parejas</td>
				<td>{{estadisticas.datos_mayor_porcentaje_perdidas_par}}</td>
			</tr>
			<tr>
				<td>Mayor porcentaje perdidas general</td>
				<td>{{estadisticas.datos_mayor_porcentaje_perdidas}}</td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}
