<table>
	<tr>
		<th>Tipo partida</th>
		<th>Jugados</th>
		<th>Ganados</th>
		<th>Perdidos</th>
		<th>Empatados</th>
	</tr>
	<tr>
		<td>Local</td>
		<td>{{estadisticas.partidos_jugados_local}}</td>
		<td>{{estadisticas.partidos_ganados_local}}</td>
		<td>{{estadisticas.partidos_perdidos_local}}</td>
		<td>{{estadisticas.partidos_empatados_local}}</td>
	</tr>
	<tr>
		<td>Visitante</td>
		<td>{{estadisticas.partidos_jugados_visitante}}</td>
		<td>{{estadisticas.partidos_ganados_visitante}}</td>
		<td>{{estadisticas.partidos_perdidos_visitante}}</td>
		<td>{{estadisticas.partidos_empatados_visitante}}</td>
	</tr>
	<tr>
		<td>General</td>
		<td>{{estadisticas.partidos_jugados}}</td>
		<td>{{estadisticas.partidos_ganados}}</td>
		<td>{{estadisticas.partidos_perdidos}}</td>
		<td>{{estadisticas.partidos_empatados}}</td>
	</tr>
</table>
