<div id="tabsestparejas">
    <ul>
		<li><a href="#listaparejas">Jugado</a></li>
		<li><a href="#listaparejasno">No jugado</a></li>
		<li><a href="#estparejas">Estadística</a></li>
	</ul>
    <div id="listaparejas">
        <h2>Partidas por parejas</h2>
        <table>
            <tr>
                <th>Jugador 1</th>
                <th>Jugador 2</th>
                <th>Jugadas</th>
                <th>Ganadas</th>
                <th>Perdidas</th>
                <th>Diferencia</th>
                <th>% ganadas</th>
            </tr>
        {% for ep in estadistica.parejas %}
            {% if ep.han_jugado %}
                <tr>
                    <td>{{ep.jugador1.nombre}}</td>
                    <td>{{ep.jugador2.nombre}}</td>
                    <td>{{ep.total}}</td>
                    <td>{{ep.ganadas_total}}</td>
                    <td>{{ep.perdidas_total}}</td>
                    <td>{{ep.ganadas_diff}}</td>
                    <td>{{ep.ganadas_por}}%</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
    <div id="listaparejasno">
        <h2>Parejas que no han jugado</h2>
        <table>
            <tr>
                <th>Jugador 1</th>
                <th>Jugador 2</th>
            </tr>
        {% for ep in estadistica.parejas %}
            {% if not ep.han_jugado %}
                <tr>
                    <td>{{ep.jugador1.nombre}}</td>
                    <td>{{ep.jugador2.nombre}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
    <div id="estparejas">
        <h2>Estadísticas por parejas</h2>
        <table>
            <tr>
                <th>Estadística</th>
                <th>Dato</th>
                <th>Parejas</th>
            </tr>
            <!--
            self.pareja_mas_ganadas = None
        self.pareja_menos_ganadas = None
        self.pareja_mejor_dif = None
        self.pareja_peor_dif = None
        self.pareja_mejor_por = None
        self.pareja_peor_por = None
        -->
            <tr>
                <td>Más victorias</td>
                <td>{{estadistica.mas_ganadas.dato}}</td>
                <td>{{estadistica.mas_ganadas.parejas}}</td>
            </tr>
            <tr>
                <td>Mejor diferencia</td>
                <td>{{estadistica.mejor_dif.dato}}</td>
                <td>{{estadistica.mejor_dif.parejas}}</td>
            </tr>
            <tr>
                <td>Mejor porcentaje</td>
                <td>{{estadistica.mejor_por.dato}}</td>
                <td>{{estadistica.mejor_por.parejas}}</td>
            </tr>
            <tr>
                <td>Menos victorias</td>
                <td>{{estadistica.menos_ganadas.dato}}</td>
                <td>{{estadistica.menos_ganadas.parejas}}</td>
            </tr>
            <tr>
                <td>Peor diferencia</td>
                <td>{{estadistica.peor_dif.dato}}</td>
                <td>{{estadistica.peor_dif.parejas}}</td>
            </tr>
            <tr>
                <td>Peor porcentaje</td>
                <td>{{estadistica.peor_por.dato}}</td>
                <td>{{estadistica.peor_por.parejas}}</td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
	$(function() {
		$("#tabsestparejas").tabs();
	});
</script>

