{% load dardos_general %}

<div id="tabsestparejas">
    <ul>
		<li><a href="#listaparejas">Jugado</a></li>
		<li><a href="#listaparejasno">No jugado</a></li>
		<li><a href="#estparejas">Estadística</a></li>
	</ul>
    <div id="listaparejas">
        <h2>Partidas por parejas</h2>
        {% show_estadisticas_parejas_general estadistica %}
    </div>
    <div id="listaparejasno">
        <h2>Parejas que no han jugado</h2>
        <table>
            <tr>
                <th>Jugador 1</th>
                <th>Jugador 2</th>
            </tr>
        {% for ep in estadistica.parejas %}
            {% if not ep.han_jugado %}
                <tr>
                    <td>{{ep.jugador1.nombre}}</td>
                    <td>{{ep.jugador2.nombre}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
    <div id="estparejas">
        <h2>Estadísticas por parejas</h2>
        {% show_estadisticas_parejas_analisis estadistica %}
    </div>
</div>

<script type="text/javascript">
	$(function() {
		$("#tabsestparejas").tabs();
	});
</script>

