{% extends "dardos/base.html" %}

{% block title %}Equipos{% endblock %}

{% block content %}
<form method="get">
	<input type="text" name="q" />
	<input type="submit" value="Buscar"/>
</form>
{% if equipos %}
    <table>
        <thead>
            <tr>
                <th>Equipos</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
    {% for e in equipos %}
        <tr>
            <td>{{ e.nombre }}</td>
            <td><a href="/equipos/{{e.id}}" class="view"></a></td>
    {% endfor %}
    </table>
{% else %}
    <p>No hay equipos disponibles.</p>
{% endif %}


{% endblock %}




