<table>
	<tr>
		<th>Equipo</th>
		<th>Jugados</th>
		<th>Ganados</th>
		<th>Empatados</th>
		<th>Perdidos</th>
		<th>Puntos</th>
	</tr>
{% for d in clasificacion.equipos %}
	<tr>
		<td>
		{% ifequal d.equipo.id equipo.id %}
			<a href="/equipos/{{d.equipo.id}}">
			    <b>{{d.equipo.nombre}}</b>
			</a>
		{% else %}
		    <a href="/equipos/{{d.equipo.id}}">
    			{{d.equipo.nombre}}
    		</a>
		{% endifequal %}
		</td>
		<td>{{d.estadisticas.partidos_jugados}}</td>
		<td>{{d.estadisticas.partidos_ganados}}</td>
		<td>{{d.estadisticas.partidos_empatados}}</td>
		<td>{{d.estadisticas.partidos_perdidos}}</td>
		<td>{{d.estadisticas.puntos}}</td>
	</tr>
{% endfor %}
</table>
