<script language="javascript">
    line1=[
        {% for jg in grafico_evolucion.datos %}
            [{{jg.x}},{{jg.y}}],
        {% endfor%}
    ];
    
    xticks = [
        {% for i in grafico_evolucion.get_max_x_range %}
            {{i}},
        {% endfor %}
    ];
    yticks = [
        {% for i in grafico_evolucion.get_max_y_range %}
            {{i}},
        {% endfor %}
    ];
    
    plot4 = $.jqplot('{{grafico_evolucion.div_id}}', [line1], {
        legend:{show:true}, 
        title:'{{grafico_evolucion.titulo}}',
        grid: {background:'#f3f3f3', gridLineColor:'#accf9b'},
        series:[
            {label:'{{grafico_evolucion.label}}'},
        ],
        axes:{
            xaxis:{ticks:xticks, tickOptions:{formatString:'%d'}}, 
            yaxis:{ticks:yticks, tickOptions:{formatString:'%d'}}
        },
    });
</script>
