<script language="javascript">
    {% for linea in grafico_evolucion.get_lineas %}
        linea{{linea.id}} = [
        {% for dato in linea.datos %}
            [{{dato.x}},{{dato.y}}],
        {% endfor %}
        ];
    {% endfor%}
    
    xticks = [
        {% for i in grafico_evolucion.range_x %}
            {{i}},
        {% endfor %}
    ];
    yticks = [
        {% for i in grafico_evolucion.range_y %}
            {{i}},
        {% endfor %}
    ];
    lineas = [
        {% for linea in grafico_evolucion.get_lineas %}
            linea{{linea.id}},
        {% endfor %}
    ];
    plot4 = $.jqplot('{{grafico_evolucion.div_id}}', lineas, {
        legend:{show:true}, 
        title:'{{grafico_evolucion.titulo}}',
        grid: {background:'#f3f3f3', gridLineColor:'#accf9b'},
        series:[
            {% for linea in grafico_evolucion.get_lineas %}
                {label:'{{linea.label}}'},
            {% endfor %}
        ],
        axes:{
            xaxis:{ticks:xticks, tickOptions:{formatString:'%d'}}, 
            yaxis:{ticks:yticks, tickOptions:{formatString:'%d'}}
        },
    });
</script>
