{% extends "dardos/base.html" %}

{% block title %}Equipos{% endblock %}

{% block content %}

{% if partidos %}
    <h1>Partidos</h1>
    <table width="100%">
    	<tr>
    		<th>Jornada</th>
    		<th>Local</th>
    		<th>Visitante</th>
    		<th>Fecha</th>
    		<th>&nbsp;</th>
    	</tr>
    {% for p in partidos %}
    	<tr>
    		<td>{{p.jornada.numero}}</td>
        	<td>{{p.equipo_local.nombre}}</td>
        	<td>{{p.equipo_visitante.nombre}}</td>
        	<td>{{ p.fecha|date:"d-m-Y" }}</td>
        	<td>
        		<a href="/partidos/{{p.id}}" >[Ver]</a>
        		{% if not p.jugado %}
        		<a href="/partidos/partidas/{{p.id}}" >[Editar]</a>
        		{% endif %}
        	</td>
       	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No hay partidos disponibles.</p>
{% endif %}


{% endblock %}




