<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

{% load dardos_general vista %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">


<head>
  <title>{% block title %}{% endblock %}</title>
  
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="author" content="fullahead.org - studio7designs.com" />
  <meta name="description" content="Site Description Here" />
  <meta name="keywords" content="keywords, here" />
  <meta name="robots" content="index, follow, noarchive" />
  <meta name="googlebot" content="noarchive" />

  <link rel="stylesheet" type="text/css" href="/site_media/css/style.css" media="screen, projection, tv " />
  <link rel="stylesheet" type="text/css" href="/site_media/css/orange.css" media="screen, projection, tv " />
  <link rel="stylesheet" type="text/css" href="/site_media/css/custom.css" media="screen, projection, tv " />
</head>

<body>
  <div id="main">
    <div id="links">
      <!-- **** INSERT LINKS HERE **** -->
      <a href="#">another link</a> | <a href="#">another link</a> | <a href="#">another link</a> | <a href="#">another link</a>
    </div>
    <div id="logo"><h1>LIGA DE DARDOS</h1></div>
    <div id="menu">
      <ul>
        <!-- **** INSERT NAVIGATION ITEMS HERE (use id="selected" to identify the page you're on **** -->
        <li><a id="selected" href="#">home</a></li>
        <li><a href="#">page 1</a></li>
        <li><a href="#">page 2</a></li>
        <li><a href="#">page 3</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </div>
    <div id="content">
      <div id="column1">
        <!--
        <div class="sidebaritem">
          <div class="sbihead">
            <h1>latest news</h1>
          </div>
          <div class="sbicontent">
            <h2>01.09.2006</h2>
            <p>This is where you can put your latest news.</p>
            <p><a href="#">read more ...</a></p>
            <p></p>
            <p></p>
            <h2>01.09.2006</h2>
            <p>This is where you can put your latest news.</p>
            <p><a href="#">read more ...</a></p>
          </div>
        </div>
        -->
        <div class="sidebaritem">
          <div class="sbihead">
            <h1>General</h1>
          </div>
          <div class="sbilinks">
            <!-- **** INSERT ADDITIONAL LINKS HERE **** -->
            <ul class="submenu1">
                <li><a href="/">Inicio</a></li>
                <li><a href="/equipos">Equipos</a></li>
                <li><a href="/jugadores">Jugadores</a></li>
                <li><a href="/partidos">Partidos</a></li>
              </ul>
          </div>
        <div class="sidebaritem">
          <div class="sbihead">
            <h1>Divisiones</h1>
          </div>
          <div class="sbilinks">
              {% show_divisiones %}
          </div>
        </div>
          {% block menu %}{% endblock %}
        </div>
        <div class="sidebaritem">
          <div class="sbihead">
            <h1>other information</h1>
          </div>
          <div class="sbicontent">
            <!-- **** INSERT OTHER INFORMATION HERE **** -->
            <p>
              This space can be used for additional information such as a contact phone number, address
              or maybe even a graphic.
            </p>
          </div>
        </div>
      </div>
      <div id="column2">
        <div style="width: 100%; float:left">
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <div id="footer">
      copyright &copy; 2006 your name | <a href="#">email@emailaddress</a> | <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.dcarter.co.uk">design by dcarter</a>
    </div>
  </div>
</body>
</html>
