.add{
    background: url(../images/add.png) no-repeat;
    float: right;
    padding-left: 20px;
}
.view{
    background: url(../images/view.png) no-repeat left bottom;
    padding-left: 20px;
    display: inline-block;
    height: 20px;
}

.edit{
    background: url(../images/edit.png) no-repeat left bottom;
    padding-left: 20px;
    display: inline-block;
    height: 20px;
}

table{
    border-spacing: 0px;
}

table tr td,
table tr th{
    padding: 5px;
}

.tabla_parejas{
    border-color: #888888;
    border-width: 0 0 1px 1px;
    border-style: solid;
    margin-bottom: 10px;
    border-spacing: 0px;
}

.tabla_parejas tr td{
    border-color: #888888;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
    background-color: #EEE;
}

.local{
    width: 250px;
}

.resultado{
    width: 70px;
    text-align: center;
}

.visitante{
    width: 250px;
    text-align: right;
}

#partidas{
    width: 600px;
    margin: 0px auto auto ;
}
#tabla_partidos tr td,
#tabla_partidos tr th{
    text-align: center;
}

.col_sep{
	padding: 0px;
	border-spacing: 5px;
	width: 1px;
	border: 0px;
	background-color: #AAAAAA;
	border-color: #AAAAAA;
}

#ficha #foto,
#logo-equipo
{
    float:left;
}
#ficha #foto img,
#logo-equipo img{
    width: 100px;
    height: 100px;
    border: 1px solid #AAAAAA;
    margin-right: 10px;
}

.ui-widget {
    font-size: 1em; !important
}

/*********** Cuadro de login *************/
#top-login{
    float:right;
    margin: 10px;
    background-color: rgba(0,0,0,0.5);
    height:70px;
    width: 220px;
    padding: 2px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #e1e1e1;
}
#top-login form{
    position: relative;
}
#top-login form fieldset{
    border: 0px;
}
#top-login label{
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
    width: 70px;
    color: #e1e1e1;
}
#top-login input{
    border: 1px solid #343434;
}
#top-login input[type='text'],
#top-login input[type='password']{
    width: 120px;
    height:12px;
    font-size: 10px;
}
#top-login p{
    padding: 0px;
}

/***** página de login *****/

/*********** Cuadro de login *************/
#div-login{
    margin: 10px;
    background-color: rgba(0,0,0,0.5);
    height:70px;
    padding: 20px;
    width: 380px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#div-login form{
    position: relative;
}
#div-login fieldset{
    border: 0px;
}
#div-login label{
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
    width: 100px;
    color: #e1e1e1;
}
#div-login input{
    border: 1px solid #343434;
}
#div-login p{
    padding: 0px;
}
