.add{
    background: url(../images/add.png) no-repeat;
    float: right;
    padding-left: 20px;
}
.view{
    background: url(../images/view.png) no-repeat left bottom;
    padding-left: 20px;
    display: inline-block;
    height: 20px;
}

.edit{
    background: url(../images/edit.png) no-repeat left bottom;
    padding-left: 20px;
    display: inline-block;
    height: 20px;
}

table{
    border-spacing: 5px;
}

.tabla_parejas{
    border-color: #888888;
    border-width: 0 0 1px 1px;
    border-style: solid;
    margin-bottom: 10px;
    border-spacing: 0px;
}

.tabla_parejas tr td{
    border-color: #888888;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
    background-color: #EEE;
}

.local{
    width: 250px;
}

.resultado{
    width: 50px;
    text-align: center;
}

.visitante{
    width: 250px;
    text-align: right;
}

#partidas{
    width: 600px;
    margin: 0px auto auto ;
}

