.add{
    background: url(../images/add.png) no-repeat;
    float: right;
    padding-left: 20px;
    margin: 5px;
}
.view{
    background: url(../images/view.png) no-repeat left bottom;
    padding-left: 20px;
    display: inline-block;
    height: 20px;
}

.edit{
    background: url(../images/edit.png) no-repeat left bottom;
    padding-left: 20px;
    display: inline-block;
    height: 20px;
}

table{
    border-spacing: 0px;
}

table tr td,
table tr th{
    padding: 5px;
}

h2{
    font-size: 130%;
    margin: 10px 0px;
}

.tabla_parejas{
    border-color: #888888;
    border-width: 0 0 1px 1px;
    border-style: solid;
    margin-bottom: 10px;
    border-spacing: 0px;
}

.tabla_parejas tr td{
    border-color: #888888;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
    background-color: #EEE;
}

.local{
    width: 250px;
}

.resultado{
    width: 70px;
    text-align: center;
}

.visitante{
    width: 250px;
    text-align: right;
}

#partidas{
    width: 600px;
    margin: 0px auto auto ;
}
#tabla_partidos tr td,
#tabla_partidos tr th{
    text-align: center;
}

.col_sep{
	padding: 0px;
	border-spacing: 5px;
	width: 1px;
	border: 0px;
	background-color: #AAAAAA;
	border-color: #AAAAAA;
}

#ficha #foto,
#logo-equipo
{
    float:left;
}
#ficha #foto img,
#logo-equipo img{
    width: 100px;
    height: 100px;
    border: 1px solid #AAAAAA;
    margin-right: 10px;
}

.ui-widget {
    font-size: 1em; !important
}

.ui-state-highlight{
    padding: 0.7em;
}

/********** Formularios *************/
label
{
    width: 8em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}

input
{
    border: 1px solid #989898;
}

fieldset
{
    width: 40em;
    border: 1px solid #f2f2f2; 
	background-color: #FAFAFA; 
}

legend
{
    border: 1px solid #989898;
    padding: 2px 6px;
    background: #74A846;
	color: #fff;
}

/*********** Cuadro de login *************/
#top-login{
}
#top-login form{
    position: relative;
    border: 0px;
    background:none;
}

#top-login fieldset
{
    position:relative;
    width: 200px;
}
#top-login form fieldset{
    border: 0px;
}

#top-login label{
    float: none;
    margin-right: 0px;
    display: block;
    width: 50px;
}
#top-login input{
    border: 1px solid #343434;
}
#top-login input[type='text'],
#top-login input[type='password']{
    width: 120px;
    height:12px;
    font-size: 10px;
}
#top-login p{
    padding: 0px;
    margin: 0px;
}

#top-login p:last-child{
    margin-top: 15px;
}
#top-login td{
    border: 0px;
}
/***** página de login *****/
#div-login form{
    position: relative;
}
#div-login fieldset{
    border: 0px;
}
#div-login label{
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
    width: 100px;
}
#div-login p{
    padding: 0px;
}

/************* Errores de validación *************/
.errorlist{
    color: #cd0a0a/*{fcError}*/;
}

.error,
.success{
    list-style: none;
    padding: 5px;
    list-style-image: none !important;
}
.error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a; 
}

.success{
    border: 1px solid #fcefa1;
    background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636; 
}

.messages{
    margin: 0px;
}

/************ tabla de partidas ***********/
.tabla-partidas ul{
    display: inline;
}
.tabla-partidas ul li{
    display: inline;
}
.tabla-partidas .col-ganador{
    width: 200px;
}

#divliga ul{
    margin: 5px;
}

#divliga ul li{
    list-style: none;
    margin: 0px;
    margin-bottom: 5px;
}

#divliga ul li:last-child{
    list-style: none;
    margin: 0px;
    margin-top: 15px;
}

.tweet{
    margin: 5px;
    padding: 5px;
    background-color: #F5F5F5;
    width: 400px;
    clear:both;
    min-height: 70px;
    border: 1px solid #EFEDED;
}

.tweet-light{
    background-color: white;
}

.tweet img{
    width: 50px;
    float: left;
}

#charCount{
    margin-right: 10px;
    font-size: 1.3em;
    font-weight: bold;
}
