{% extends "dardos/base.html" %}

{% block title %}Equipo{% endblock %}

{% block content %}
<h1>{{ equipo.nombre }}</h1>
<b>Nombre:</b> {{equipo.nombre}}<br/>
<br/>
<h2>Clasificación</h2>
<table>
	<tr>
		<th>Equipo</th>
		<th>Ganados</th>
		<th>Perdidos</th>
		<th>Puntos</th>
	</tr>
{% for d in clasificacion.equipos %}
	<tr>
		<td>{{d.equipo.nombre}}</td>
		<td>{{d.estadisticas.partidos_ganados}}</td>
		<td>{{d.estadisticas.partidos_perdidos}}</td>
		<td>{{d.estadisticas.puntos}}</td>
	</tr>
{% endfor %}
</table>
<br/>
<h2>Estadísticas</h2>
<table>
	<tr>
		<th>Tipo partida</th>
		<th>Jugados</th>
		<th>Ganados</th>
		<th>Perdidos</th>
	</tr>
	<tr>
		<td>Local</td>
		<td>{{estadisticas.partidos_jugados_local}}</td>
		<td>{{estadisticas.partidos_ganados_local}}</td>
		<td>{{estadisticas.partidos_perdidos_local}}</td>
	</tr>
	<tr>
		<td>Visitante</td>
		<td>{{estadisticas.partidos_jugados_visitante}}</td>
		<td>{{estadisticas.partidos_ganados_visitante}}</td>
		<td>{{estadisticas.partidos_perdidos_visitante}}</td>
	</tr>
	<tr>
		<td>General</td>
		<td>{{estadisticas.partidos_jugados}}</td>
		<td>{{estadisticas.partidos_ganados}}</td>
		<td>{{estadisticas.partidos_perdidos}}</td>
	</tr>
</table>
<br/>
<h2>Liga {{liga_actual.nombre}} </h2>
<table>
	<tr>
		<th>Nº Jornada</th>
		<th>Fecha</th>
		<th>Local</th>
		<th>Visitante</th>
		<th>Ganador</th>
		<th>Puntos local</th>
		<th>Puntos visitante</th>
	</tr>
{% for j in jornadas %}
	{% if j.partido %}
	<tr>
		<td><b>Jornada {{j.jornada.numero}}</b></td>
		<td>{{j.partido.fecha}}</td>
		<td>{{j.partido.equipo_local.nombre}}</td>
		<td>{{j.partido.equipo_visitante.nombre}}</td>
		<td><b>{{j.partido.ganador.nombre}}</b></td>
		<td><b>{{j.partido.puntos_local}}</b></td>
		<td><b>{{j.partido.puntos_visitante}}</b></td>
	</tr>
	{% endif %}
{% endfor %}
</table>
<br/>
<h2>Jugadores</h2>
<table>
	<tr>
		<th>Nombre</th>
		<th>G.I.</th>
		<th>G.P.</th>
		<th>P.I.</th>
		<th>P.P.</th>
		<th>J.I.</th>
		<th>J.P.</th>
		<th>&nbsp;</th>
	</tr>
{% for j in jugadores %}
	<tr>
		<td>{{j.nombre}}</td>
		<td>{{j.partidas_ind_ganadas}}</td>
		<td>{{j.partidas_par_ganadas}}</td>
		<td>{{j.partidas_ind_perdidas}}</td>
		<td>{{j.partidas_par_perdidas}}</td>
		<td>{{j.partidas_ind}}</td>
		<td>{{j.partidas_par}}</td>
		<td><a href="/jugadores/{{j.id}}">[Ver]</a></td>
	</tr>
{% endfor %}
</table>

{% endblock %}
