{% extends "dardos/base.html" %}

{% block title %}Equipo{% endblock %}

{% block content %}

<link type="text/css" href="/site_media/css/ui/jquery.ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="/site_media/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.tabs.js"></script>
<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
</script>


<h1>{{ equipo.nombre }}</h1>
<b>Nombre:</b> {{equipo.nombre}}<br/>
<br/>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Jugadores</a></li>
		<li><a href="#tabs-2">Clasificación</a></li>
		<li><a href="#tabs-3">Jornadas</a></li>
		<li><a href="#tabs-4">Estadísticas</a></li>
	</ul>
	<div id="tabs-1">
		<table>
			<tr>
				<th>Nombre</th>
				<th>G.I.</th>
				<th>G.P.</th>
				<th>P.I.</th>
				<th>P.P.</th>
				<th>J.I.</th>
				<th>J.P.</th>
				<th>&nbsp;</th>
			</tr>
		{% for j in jugadores %}
			<tr>
				<td>{{j.nombre}}</td>
				<td>{{j.partidas_ind_ganadas}}</td>
				<td>{{j.partidas_par_ganadas}}</td>
				<td>{{j.partidas_ind_perdidas}}</td>
				<td>{{j.partidas_par_perdidas}}</td>
				<td>{{j.partidas_ind}}</td>
				<td>{{j.partidas_par}}</td>
				<td><a href="/jugadores/{{j.id}}">[Ver]</a></td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<div id="tabs-2">
		<table>
			<tr>
				<th>Equipo</th>
				<th>Ganados</th>
				<th>Perdidos</th>
				<th>Empatados</th>
				<th>Puntos</th>
			</tr>
		{% for d in clasificacion.equipos %}
			<tr>
				<td>{{d.equipo.nombre}}</td>
				<td>{{d.estadisticas.partidos_ganados}}</td>
				<td>{{d.estadisticas.partidos_perdidos}}</td>
				<td>{{d.estadisticas.partidos_empatados}}</td>
				<td>{{d.estadisticas.puntos}}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<div id="tabs-3">
		<h2>Liga {{liga_actual.nombre}} </h2>
		<table>
			<tr>
				<th>Nº Jornada</th>
				<th>Fecha</th>
				<th>Local</th>
				<th>Visitante</th>
				<th>Ganador</th>
				<th>Puntos local</th>
				<th>Puntos visitante</th>
				<th>Jugado</th>
			</tr>
		{% for j in jornadas %}
			{% if j.partido %}
			<tr>
				<td><b>Jornada {{j.jornada.numero}}</b></td>
				<td>{{j.partido.fecha}}</td>
				<td>{{j.partido.equipo_local.nombre}}</td>
				<td>{{j.partido.equipo_visitante.nombre}}</td>
				<td><b>{{j.partido.ganador.nombre}}</b></td>
				<td><b>{{j.partido.puntos_local}}</b></td>
				<td><b>{{j.partido.puntos_visitante}}</b></td>
				<td>
					{% if j.partido.jugado %}
						V
					{% else %}
						X
					{%endif%}
				</td>
			</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
	<div id="tabs-4">
		<table>
			<tr>
				<th>Tipo partida</th>
				<th>Jugados</th>
				<th>Ganados</th>
				<th>Perdidos</th>
				<th>Empatados</th>
			</tr>
			<tr>
				<td>Local</td>
				<td>{{estadisticas.partidos_jugados_local}}</td>
				<td>{{estadisticas.partidos_ganados_local}}</td>
				<td>{{estadisticas.partidos_perdidos_local}}</td>
				<td>{{estadisticas.partidos_empatados_local}}</td>
			</tr>
			<tr>
				<td>Visitante</td>
				<td>{{estadisticas.partidos_jugados_visitante}}</td>
				<td>{{estadisticas.partidos_ganados_visitante}}</td>
				<td>{{estadisticas.partidos_perdidos_visitante}}</td>
				<td>{{estadisticas.partidos_empatados_visitante}}</td>
			</tr>
			<tr>
				<td>General</td>
				<td>{{estadisticas.partidos_jugados}}</td>
				<td>{{estadisticas.partidos_ganados}}</td>
				<td>{{estadisticas.partidos_perdidos}}</td>
				<td>{{estadisticas.partidos_empatados}}</td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}
