{% extends "dardos/ligasbase.html" %}

{% load dardos_general graficos mb %}

{% block title %}Jugadores{% endblock %}

{% block content %}

<script type="text/javascript" src="/site_media/js/tweets.js"></script>
<script language="javascript" type="text/javascript" src="/site_media/js/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/site_media/css/jquery.jqplot.css" />
<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
		
		$("#boton_formgrafica").click(function(){
		    $.get('{% url dardos-graficas-ajax_grafica_evolucion %}', $("#formgrafica").serialize(), function(data){
		        $("#chartdivevo").html('');
		        $("#graf_wrapper").html(data);
		    });
		});
	});
	
	function show_jornada(url){
	    $.get(url, function(data) {
	        $('#partidos_jornada').html(data);
        });
    }
	
</script>


<h1>{{ jugador.nombre }}</h1>
<div id="ficha">
    <div id="foto">
    {% if jugador.foto %}
        <img src="{{jugador.foto.url_100x100}}"/>
    {% else %}
        <img src="/site_media/fotos/jugadores/nofoto.jpg"/>
    {% endif %}
    </div>
    <div id="datos">
        <b>Nombre:</b> {{jugador.nombre}}<br/>
        <b>Equipo:</b> <a href="{{jugador.equipo.get_absolute_url}}">{{jugador.equipo.nombre}}</a><br/>
        <b>Fecha de alta:</b> {{jugador.fecha_alta}}<br/>
        <b>E-Mail:</b> 
        {% if jugador.email %}
            <a href="mailto:{{jugador.email}}">{{jugador.email}}</a><br/>
        {% endif %}
    </div>
</div>

<div id="tabs" style="clear:both">
	<ul>
	    <li><a href="#tab-noticias">Noticias</a></li>
	    <li><a href="#tabs-1">Estadística</a></li>
	    <li><a href="#tabs-2">P. Individuales</a></li>
	    <li><a href="#tabs-3">P. Parejas</a></li>
	    <li><a href="#tabs-4">Gráficas</a></li>
	</ul>
	<div id="tab-noticias">
	    {% tweets_object jugador%}
	</div>
	<div id="tabs-1">
	    {% show_estadisticas_jugador jugador_datos%}
	</div>
	<div id="tabs-2">
	    <table>
	        <tr>
	            <th>Fecha</th>
	            <th>Local</th>
	            <th>Ganador</th>
	            <th>Visitante</th>
	            <th>&nbsp;</th>
	        </tr>
	    {% for partida in jugador.partidas_ind.all %}
	        {% include "dardos/jugadores/partida_ind_row.html" %}
	    {% endfor %}
	    </table>
    </div>
    <div id="tabs-3">
        <table>
	        <tr>
	            <th>Fecha</th>
	            <th>Locales</th>
	            <th>Ganadores</th>
	            <th>Visitantes</th>
	            <th>&nbsp;</th>
	        </tr>
	    {% for partida in jugador.partidas_par.all %}
	        {% include "dardos/jugadores/partida_par_row.html" %}
	    {% endfor %}
	    </table>
    </div>
    <div id="tabs-4">
        <form id="formgrafica" method="post">
        {{graficas_form.as_p}}
        <input id="boton_formgrafica" type="button" name="continuar" value="Continuar" />
        </form>
        <div id="chartdivevo" style="height:400px;width:500px; "></div>
        <div id="graf_wrapper"></div>
    </div>
</div>
{% endblock %}


