{% extends "dardos/base.html" %}

{% load dardos_general graficos %}

{% block title %}Jugadores{% endblock %}

{% block content %}

<link type="text/css" href="/site_media/css/ui/jquery.ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="/site_media/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.tabs.js"></script>
<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
	
	function show_jornada(url){
	    $.get(url, function(data) {
	        $('#partidos_jornada').html(data);
        });
    }
	
</script>


<h1>{{ jugador.nombre }}</h1>
<div id="ficha">
    <div id="foto">
    {% if jugador.path_foto %}
        <img src="/site_media/fotos/jugadores/{{jugador.path_foto}}"/>
    {% else %}
        <img src="/site_media/fotos/jugadores/nofoto.jpg"/>
    {% endif %}
    </div>
    <div id="datos">
        <b>Nombre:</b> {{jugador.nombre}}<br/>
        <b>Equipo:</b> <a href="/equipos/{{jugador.equipo.id}}">{{jugador.equipo.nombre}}</a><br/>
        <b>Fecha de alta:</b> {{jugador.fecha_alta}}<br/>
        <b>E-Mail:</b> 
        {% if jugador.email %}
            <a href="mailto:{{jugador.email}}">{{jugador.email}}</a><br/>
        {% endif %}
    </div>
</div>

<div id="tabs" style="clear:both">
	<ul>
		<li><a href="#tabs-1">Estadística</a></li>
		<li><a href="#tabs-2">P. Individuales</a></li>
		<li><a href="#tabs-3">P. Parejas</a></li>
		<li><a href="#tabs-4">Gráficas</a></li>
	</ul>
	<div id="tabs-1">
	    {% show_estadisticas_jugador jugador_datos%}
	</div>
	<div id="tabs-2">
	    <table>
	        <tr>
	            <th>Fecha</th>
	            <th>Local</th>
	            <th>Ganador</th>
	            <th>Visitante</th>
	            <th>&nbsp;</th>
	        </tr>
	    {% for partida in jugador.partidas_ind.all %}
	        {% include "dardos/jugadores/partida_ind_row.html" %}
	    {% endfor %}
	    </table>
    </div>
    <div id="tabs-3">
        <table>
	        <tr>
	            <th>Fecha</th>
	            <th>Locales</th>
	            <th>Ganadores</th>
	            <th>Visitantes</th>
	            <th>&nbsp;</th>
	        </tr>
	    {% for partida in jugador.partidas_par.all %}
	        {% include "dardos/jugadores/partida_par_row.html" %}
	    {% endfor %}
	    </table>
    </div>
    <div id="tabs-4">
        <!--[if IE]><script language="javascript" type="text/javascript" src="/site_media/js/excanvas.js"></script><![endif]-->
        <script language="javascript" type="text/javascript" src="/site_media/js/jquery.jqplot.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/site_media/css/jquery.jqplot.css" />
        <div id="chartdiv" style="height:400px;width:500px; "></div>
        {% show_grafico_gp_jornadas jornadas_grafico %}
    </div>
</div>
{% endblock %}


