{% extends "dardos/base.html" %}

{% block title %}Jugadores{% endblock %}

{% block content %}

{% if jugadores_list %}
    Jugadores:
    <table>
        <tr>
            <th>Equipo</th>
            <th>Jugador</th>
            <th>&nbsp;</th>
        </tr>
    {% for j in jugadores_list %}
        <tr>
            <td>{{j.equipo.nombre}}</td>
            <td><a href="/jugadores/{{j.id}}">{{ j.nombre }}</a></td>
            <td><a href="/jugadores/{{j.id}}" class="view"></a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No hay jugadores disponibles.</p>
{% endif %}


{% endblock %}




