{% extends "dardos/base.html" %}

{% block title %}Jugadores{% endblock %}

{% block content %}
<form method="get">
	<input type="text" name="q" />
	<input type="submit" value="Buscar"/>
</form>
{% if jugadores_list %}
    Jugadores:
    <table>
        <tr>
            <th>Equipo</th>
            <th>Jugador</th>
            <th>&nbsp;</th>
        </tr>
    {% for j in jugadores_list %}
        <tr>
            <td><a href="/jugadores/{{j.equipo.id}}">{{j.equipo.nombre}}</a></td>
            <td><a href="/jugadores/{{j.id}}">{{ j.nombre }}</a></td>
            <td><a href="/jugadores/{{j.id}}" class="view"></a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No hay jugadores disponibles.</p>
{% endif %}


{% endblock %}




