{% extends "base.html" %}

{% load dardos_general vista %}

{% block supermenu %}
    <li><a id="selected" href="/">General</a></li>
    <li><a href="/ligas">Ligas</a></li>
{% endblock %}

{% block menu %}
<div class="sidebaritem">
  <div class="sbihead">
    <h1>General</h1>
  </div>
  <div class="sbilinks">
    <!-- **** INSERT ADDITIONAL LINKS HERE **** -->
    <ul class="submenu1">
        <li><a href="/">Noticias</a></li>
        <li><a href="#">Reglamento</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
  </div>
</div>
<div class="sidebaritem">
  <div class="sbihead">
    <h1>Divisiones</h1>
  </div>
  <div class="sbilinks">
      {% show_divisiones %}
  </div>
</div>
  {% block submenu %}{% endblock %}
<div class="sidebaritem">
  <div class="sbihead">
    <h1>Información</h1>
  </div>
  <div class="sbicontent">
    <!-- **** INSERT OTHER INFORMATION HERE **** -->
    <p>
      Este espacio se puede utilizar para enlaces directos, google adds etc.
    </p>
  </div>
</div>
{% endblock %}
