{% extends "base.html" %}

{% load dardos_general vista %}

{% block supermenu %}
    <li><a id="selected" href="/">General</a></li>
    <li><a href="{% url dardos-ligas-index %}">Ligas</a></li>
    {% if user.is_staff %}
        <li><a href="{% url admin:index %}">Admin</a></li>
    {% endif %}
{% endblock %}

{% block menu %}

    <h1>General</h1>
    <ul class="sidemenu">
        <li><a href="/">Noticias</a></li>
        <li><a href="#">Reglamento</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    <h1>Divisiones</h1>
    <ul class="sidemenu">
        {% show_divisiones %}
    </ul>
  {% block submenu %}{% endblock %}
{% endblock %}
