{% extends "dardos/ligasbase.html" %}

{% block title %}Nueva joranada{% endblock %}

{% block content %}
<h1>Nueva jornada</h1>

<form action="/partidos/new_jornada/" method="post">
    <fieldset>
        <legend>Datos de la jornada</legend>
        {{form.as_p}}
    </fieldset>
<input type="submit" name="continuar" value="Continuar" />
</form>
<div class="ui-state-highlight" id="info-jornada"></div>

<script>
    $(function() {
		$("#id_fecha_prevista").addClass("datepicker");
		cargar_calendarios();
		$("#id_liga").change(function(){
		    var liga = $(this).val();
		    if (liga != ''){
		        var url = '/liga/'+liga+'/ajax_get_siguiente_jornada/';
		        $.get(url, function(data) {
		            $("#info-jornada").html(data);
                });
            }
		});
	});
</script>

{% endblock %}
