{% extends "base.html" %}

{% load dardos_general vista %}

{% block supermenu %}
    <li><a href="/">General</a></li>
    <li><a id="selected" href="/ligas">Ligas</a></li>
{% endblock %}

{% block menu %}


    <h1>Liga actual</h1>
    {% display_divliga_actual %}
</div>
<div class="sidebox">

    <h1>General</h1>
    <ul class="sidemenu">
        <li><a href="{% url dardos-equipos-index %}">Equipos</a></li>
        <li><a href="{% url dardos-jugadores-index %}">Jugadores</a></li>
        <li><a href="{% url dardos-partidos-index %}">Partidos</a></li>
      </ul>
    <h1>Divisiones</h1>
    <ul class="sidemenu">
      {% show_divisiones %}
    </ul>
  {% block submenu %}{% endblock %}
{% endblock %}
