{% extends "dardos/ligasbase.html" %}

{% block title %}Nuevo partido{% endblock %}

{% block content %}
<h1>Nuevo partido</h1>

<a href="/partidos/new_jornada" class="add">Nueva jornada</a>
<form method="post">
    {{ form.non_field_errors }}
    <fieldset>
        <legend>Nuevo partido</legend>
        <p>
            <label>Liga</label>
            <select name="liga" id="id_liga">
                {% for l in ligas%}
                    <option value="{{l.id}}"
                    {% ifequal l.id|safe liga %}
                        selected="selected"
                    {% endifequal %}
                    >{{l}}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            {{ form.jornada.errors }}
            {{ form.jornada.label_tag }}
            <select name="{{form.jornada.html_name}}" id="id_jornada">
            {% for j in jornadas %}
                <option value="{{j.id}}"
                {% if form.data.jornada|safe == j.id|safe %}
                    selected="selected"
                {% endif %}
                >{{j}}</option>
            {% endfor %}
            </select>
        </p>
        <p>
            {{ form.fecha.errors }}
            {{ form.fecha.label_tag }}
            {{ form.fecha }}
        </p>
        <p>
            {{ form.equipo_local.errors }}
            {{ form.equipo_local.label_tag }}
            <select name="{{form.equipo_local.html_name}}" 
                id="id_{{form.equipo_local.html_name}}">
            {% for e in equipos %}
                <option value="{{e.id}}"
                {% if form.data.equipo_local|safe == e.id|safe %}
                    selected="selected"
                {% endif %}
                >{{e}}</option>
            {% endfor %}
            </select>
        </p>
        <p>
            {{ form.equipo_visitante.errors }}
            {{ form.equipo_visitante.label_tag }}
            <select name="{{form.equipo_visitante.html_name}}" 
                id="id_{{form.equipo_visitante.html_name}}">
            {% for e in equipos %}
                <option value="{{e.id}}"
                {% if form.data.equipo_visitante|safe == e.id|safe %}
                    selected="selected"
                {% endif %}
                >{{e}}</option>
            {% endfor %}
            </select>
        </p>
        <p>
            {{ form.puntos_local.errors }}
            {{ form.puntos_local.label_tag }}
            {{ form.puntos_local }}
        </p>
        <p>
            {{ form.puntos_visitante.errors }}
            {{ form.puntos_visitante.label_tag }}
            {{ form.puntos_visitante }}
        </p>
        <p>
            <b>Nota: </b>Si los puntos son cero se tomará el partido como no jugado
         </p>
    </fieldset>
<input type="submit" name="continuar" value="Continuar" />
</form>

<script>
    $(function() {
		$("#id_fecha").addClass("datepicker");
		cargar_calendarios();
		//borramos para obligar a que seleccionen la liga
		var selectJornada = $("#id_jornada");
		var selectEquipoLocal = $("#id_equipo_local");
		var selectEquipoVisitante = $("#id_equipo_visitante");
		if (selectJornada.val()=='') selectJornada.children().remove();
		if (selectEquipoLocal.val()=='') selectEquipoLocal.children().remove();
		if (selectEquipoVisitante.val()=='') selectEquipoVisitante.children().remove();
		
		$("#id_liga").change(function(){
		    var liga = $(this).val();
	        var url = '/maestros/ajax_jornadas_from_liga/'+liga+'/';
	        var url_equipos = '/maestros/ajax_equipos_from_liga/'+liga+'/';
	        selectJornada.children().remove();
	        selectEquipoLocal.children().remove();
		    selectEquipoVisitante.children().remove();
	        if (liga != ''){
	            $.get(url, function(data) {
    	            selectJornada.append($(data));
                });
                $.get(url_equipos, function(data) {
    	            selectEquipoLocal.append($(data));
    	            selectEquipoVisitante.append($(data));
                });
            }
		});
	});
</script>



{% if perms.dardos.can_add_todo %}
{% endif %}
{% if perms.dardos.can_add_equipo %}
{% endif %}

{% endblock %}
