{% extends "dardos/base.html" %}

{% load dardos_general %}

{% block title %}Equipo{% endblock %}

{% block content %}
<link type="text/css" href="/site_media/css/ui/jquery.ui.all.css" rel="stylesheet" />
<script type="text/javascript" src="/site_media/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/site_media/js/ui/jquery.ui.tabs.js"></script>
<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
	
	function show_jornada(url){
	    $.get(url, function(data) {
                alert(data);
        });
    }
	
</script>

<h1>{{ division.nombre }} ({{liga.nombre}})</h1>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Clasificación</a></li>
		<li><a href="#tabs-2">Calendario</a></li>
		<li><a href="#tabs-3">Resultados</a></li>
	</ul>
	<div id="tabs-1">
	    {% show_clasificacion liga %}
	</div>
	<div id="tabs-2">
		<table>
		    <tr>
		        <th>Jornada</th>
		        <th>Fecha prevista</th>
		        <th>&nbsp;</th>
		    </tr>
		{% for j in liga.jornada_set.all%}
			<tr>
				<td>Jornada {{j.numero}}</td>
				<td>{{j.fecha_prevista}}</td>
				<td><a href="#" onclick="show_jornada('/ajax_jornada_detail/{{j.id}}')" class="view"></a></td>
			</tr>
		{%endfor%}
		</table>
	</div>
	<div id="tabs-3">
	</div>
</div>

{% endblock %}
