{% extends "dardos/ligasbase.html" %}

{% load dardos_general %}

{% block title %}Equipo{% endblock %}

{% block content %}
<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
	
	$(document).ready(function () {
  		$('#jornada').change(function(){
			$.get('/ajax_jornada_detail/' + $(this).val(), function(data) {
				$('#partidos_jornada').html(data);
			});
		});
		//Para que cargue la primera jornada
		$("#jornada").trigger("change");
	});
	
</script>

<h1>{{ division.nombre }} ({{liga.nombre}})</h1>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Clasificación</a></li>
		<li><a href="#tabs-2">Calendario</a></li>
		<li><a href="#tabs-3">Resultados</a></li>
	</ul>
	<div id="tabs-1">
	    {% show_clasificacion liga %}
	</div>
	<div id="tabs-2">
		<form method="get">
			<select name="jornada" id="jornada">
			{% for j in liga.jornada_set.all%}
				<option value="{{j.id}}">Jornada {{j.numero}} ({{j.fecha_prevista}})</option>
			{%endfor%}
			</select>
		</form>
		<div id="partidos_jornada" >
		</div>
	</div>
	<div id="tabs-3">
	</div>
</div>

{% endblock %}
