{% extends "bolos/base.html" %}

{% block title %}Nuevo partido{% endblock %}

{% block content %}
<h1>Nuevo partido</h1>

<h2>501 Parejas</h2>
<table width="100%">
	<tr>
		<th align="center" colspan="2">Local</th>
		<th align="center" width="50px">Puntos</th>
		<th align="center" width="50px">Puntos</th>
		<th align="center" colspan="2">Visitante</th>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="center"><input name="local_501_ind_1_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_1_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="center"><input name="local_501_ind_1_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_1_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
	</tr>
	<tr>
		<td colspan="6">
		<hr style="height:1px;border: 0 none;background-color:#BBB"/>
		</td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="center"><input name="local_501_ind_1_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_1_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="center"><input name="local_501_ind_1_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_1_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
	</tr>
</table>

<br/>
<h2>501 Individual</h2>
<table width="100%">
	<tr>
		<th align="center">Local</th>
		<th align="center" width="50px">Puntos</th>
		<th align="center" width="50px">Puntos</th>
		<th align="center">Visitante</th>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_1"/></td>
		<td align="center"><input name="local_501_ind_1_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_1_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_1"/></td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_2"/></td>
		<td align="center"><input name="local_501_ind_2_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_2_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_2"/></td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_3"/></td>
		<td align="center"><input name="local_501_ind_3_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_3_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_3"/></td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_4"/></td>
		<td align="center"><input name="local_501_ind_4_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_4_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_4"/></td>
	</tr>
	
</table>
<br/>
<h2>501 Parejas</h2>
<table width="100%">
	<tr>
		<th align="center" colspan="2">Local</th>
		<th align="center" width="50px">Puntos</th>
		<th align="center" width="50px">Puntos</th>
		<th align="center" colspan="2">Visitante</th>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="center"><input name="local_501_ind_1_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_1_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="center"><input name="local_501_ind_1_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_1_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
	</tr>
	<tr>
		<td colspan="6">
		<hr style="height:1px;border: 0 none;background-color:#BBB"/>
		</td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="center"><input name="local_501_ind_1_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_1_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="right"><input name="local_501_ind_1" size="10"/></td>
		<td align="center"><input name="local_501_ind_1_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_1_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
		<td align="left"><input name="visitante_501_ind_1" size="10"/></td>
	</tr>
</table>

<br/>
<h2>501 Individual</h2>
<table width="100%">
	<tr>
		<th align="center">Local</th>
		<th align="center" width="50px">Puntos</th>
		<th align="center" width="50px">Puntos</th>
		<th align="center">Visitante</th>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_1"/></td>
		<td align="center"><input name="local_501_ind_1_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_1_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_1"/></td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_2"/></td>
		<td align="center"><input name="local_501_ind_2_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_2_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_2"/></td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_3"/></td>
		<td align="center"><input name="local_501_ind_3_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_3_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_3"/></td>
	</tr>
	<tr>
		<td align="right"><input name="local_501_ind_4"/></td>
		<td align="center"><input name="local_501_ind_4_puntos" size="1"/></td>
		<td align="center"><input name="visitante_501_ind_4_puntos" size="1"/></td>
		<td align="left"><input name="visitante_501_ind_4"/></td>
	</tr>
	
</table>
{% endblock %}
